.slabtexted .slabtext{display:-moz-inline-box;display:inline-block;white-space:nowrap}.slabtextinactive .slabtext{display:inline;white-space:normal;font-size:1em !important;letter-spacing:inherit !important;word-spacing:inherit !important;*letter-spacing:0 !important;*word-spacing:0 !important;}.slabtextdone .slabtext{display:block;line-height:0.9;}
.slab a {
	color: white;
}
.slab a:hover {
	text-shadow: 0 0 0.2em rgb(70,195,175);
}
.slab {
	margin-top: 35px;
}https://github.com/jessepollak/5chackathon.git