html, body, .container {
    width: 100%;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-weight: normal; font-style: normal;
}

.left {float: left;}
.right {float: right;}
.clear {clear: both;}
.clear-left {clear:left;}
.clear-right {clear: right;}

a {color: rgb(80,80,80);text-decoration: none;}
a:hover {color: black;}
.centered {text-align: center;}


/****************************
Header
*****************************/

header {
    width: 100%;
    height: 100px;
    background: white;
    color: black;
}

    header .left {
        height: 100%;
        padding: 0 40px;
    }
    header .left h1 {
        height: 100%;
        line-height: 100px;
        font-size: 2em;
        font-weight: 700;
        margin: 0;
    }

    header .right {
        height: 100%;
    }

        header .right ul {
            padding: 0 20px;
        }

            header .right ul li {
                line-height: 100px;
                display: inline;
                padding: 0 20px;
                font-weight: 700;
                font-size: 1.4em;
            }

                header .right ul li a {
                }


/****************************
Main Content
*****************************/

section.content {
    width: 100%;
}

.screen {
    height: 700px;
    position: relative;
}

.screen-1 {
    background: rgb(38,174,144);
}

.screen-2 {
    background: rgb(29, 36, 48);
}

.screen-3 {
    background: rgb(213, 51, 37);
}

.screen-4 {
    background: rgb(33, 93, 229);
}

.screen-5 {
    background: rgb(230, 0, 120);
}

.screen-6 {
    background: rgb(46, 172, 243);
}

.screen-title {
  padding: 40px;
  color: white;
  font-size: 3em;
  font-weight: 800;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  margin: 0;
}

.center {
  width: 80%;
  margin: 0 10%;
  padding: 5% 0;
}

.top-left {
  position: relative;
  top: 0;
  left: 0;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

#home h1 {
  width: 50%;
  margin: 0 25%;
  color: white;
  font-weight: 800;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

#home h2#date {
  font-size: 2em;
  font-weight: 600;
  color: white;
  margin-top: 50px;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

#schedule ul li {
  margin: 40px 0;
}

#schedule ul li * {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 800;
  color: white;
}

  #schedule ul li h4 {
    font-size: 1.8em;
  }

  #schedule ul li h5 {
    font-size: 2.5em;
  }


/****************************
Footer
*****************************/

footer {
    width: 100%;
    height: 200px;
    background: gray;
}

/****************************
Fonts
*****************************/

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}