<html>
<head>
    <title>Sinatra</title>
    <link rel="stylesheet" href="c/styles.css">
    <script type='text/javascript' src='j/app.js'></script>
</head>
<body>
    <div class='container'>
        <h1>Welcome!</h1>
    </div>
</body>
</html>