<html>
<head>
    <title>5C Hackathon</title>
    <link rel="stylesheet" href="c/reset.css">
    <link rel="stylesheet" href="f/stylesheets/foundation.css">
    <link rel="stylesheet" href="c/styles.css">
    <link rel="stylesheet" href="c/slabtext.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type='text/javascript' src='j/modernizr-2.6.2.js'></script>
    <script type='text/javascript' src='j/slabtext.min.js'></script>
    <script type='text/javascript' src='j/jquery.smooth-scroll.min.js'></script>
</head>
<body>
    <div class='container' id='top'>
        <header>
            <div class='left'>
                <h1><a href='/'>5C Hackathon</a></h1>
            </div>
            <div class='right'>
                <ul>
                    <li><a href='#home'>Home</a></li>
                    <li><a href='#information'>Information</a></li>
                    <li><a href='#schedule'>Schedule</a></li>
                    <!-- <li><a href='#prizes'>Prizes</a></li> -->
                    <li><a href='#sponsors'>Sponsors</a></li>
                    <li><a href='#hack-week'>Hack Week</a></li>
                </ul>
            </div>
        </header>

        <section class='content'>
            <div class='screen screen-1' id='home'>
                <div class='center'>
                    <h1 class='centered slab'>
                        <span class='slabtext'>3rd</span>
                        <span class='slabtext'>Semiannual</span>
                        <span class="slabtext">5C Hackathon</span>
                    </h1>
                    <h2 class='centered' id='date'>April 12th-13th</h2>
                </div>
            </div>
            <div class='screen screen-6' id='information'>
                <div class='top-left'>
                    <h2 class='screen-title'>Information</h2>
                </div>
                <div class='row'>
                    <div class='twelve columns'>
                        <h6>What is a hackathon?</h6>
                        <p>According to Wikipedia, a hackathon (also known as a hack day, hackfest or codefest) is an event in which computer programmers and others in the field of software development, like graphic designers, interface designers and project managers collaborate intensively on software projects. We like to define it a little more casually: a 12 hour time period in which you get the chance to build whatever you want.</p>
                        <h6>Do I need to be able to code to participate?</h6>
                        <p>It definitely helps, but designers (and motivated product people) are also essential components of successful hackathon teams. If you don't know how to code (or don't know how to apply the skills you've learned in classes to the real world), come to <a class='gold' href='#hack-week'>Hack Week</a> and we'll teach you!</p>
                        <h6>Why is it overnight?</h6>
                        <p>Because doing things overnight is way more badass. Plus, it means no distractions, freedom to take over the entire building, and the romance of watching the sun rise.</p>
                        <h6>Why should I participate?</h6>
                        <p>When was the last time you built something amazing? Something that wowed your friends and family? Something that you could put on your resume that would earn you the eternal stamp of 'badass'? Now's your chance to answer all of those questions in a single night. Plus, we'll have tons of food, crazy cool prizes, and some first-class people.</p>
                        <h6>Food and prizes, you say?</h6>

                        <p>Yes, lots of food and lots of prizes. We plan to have more energy drinks than you could ever want, mountains of pizza, fresh fruit, Krispy Kreme, ice cream, coffee, tomatoes, bagels, orange juice, and tons more. Check out the <a class='gold' href="#prizes">Prizes</a> section for more information on the prizes.
                    </div>
                </div>
            </div>
            <div class='screen screen-2' id='schedule'>
                <div class='top-left'>
                    <h2 class='screen-title'>Schedule</h2>
                </div>
                <div class='row'>
                    <div class='six columns'>
                        <ul>
                            <li>
                                <h4 class='time'>8pm</h4>
                                <h5>Hacking begins</h5>
                            </li>

                            <li>
                                <h4 class='time'>10pm</h4>
                                <h5>Snacks on snacks</h5>
                            </li>

                            <li>
                                <h4 class='time'>12am</h4>
                                <h5>Pizza served</h5>
                            </li>

                            <li>
                                <h4 class='time'>2am</h4>
                                <h5>Hack hack hack</h5>
                            </li>
                        </ul>
                    </div>
                    <div class='six columns'>
                        <ul>
                            <li>
                                <h4 class='time'>4am</h4>
                                <h5>Krispy Kreme</h5>
                            </li>

                            <li>
                                <h4 class='time'>6am</h4>
                                <h5>Crunch time</h5>
                            </li>

                            <li>
                                <h4 class='time'>8am</h4>
                                <h5>Presentations and prizes</h5>
                            </li>

                            <li>
                                <h4 class='time'>10am</h4>
                                <h5>Bedtime</h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
<!--             <div class='screen screen-3' id='prizes'>
                <div class='top-left'>
                    <h2 class='screen-title'>Prizes</h2>
                </div>
                <div class='row'>
                    <div class='four columns category'>
                        <h4>Expert</h3>
                        <div class='prize'>
                            <h5>1st place</h4>
                            <ul>
                                <li>TBD</li>
                                <li>Names engraved on the offical Hacker Cup</li>
                            </ul>
                        </div>
                        <div class='prize'>
                            <h5>2nd place</h4>
                            <ul>
                                <li>TBD</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class='screen screen-4' id='sponsors'>
                <div class='top-left'>
                    <h2 class='screen-title'>Sponsors</h2>
                </div>
                <div class='row'>
                    <div class='twelve columns'>
                        <h5 class='centered'>We're not quite ready to announce our sponsors yet, but..</h5>
                    </div>
                </div>
                <div class='row'>
                    <div class='six columns centered'>
                        <h3 class='slab'><span class='slabtext'>THINK</span><span class='slabtext'>BIG</span></h3>
                    </div>
                </div>
                <div class='row'>
                    <div class='twelve columns centered'>
                        <h6>Interested in being a sponsor? Click <a class='orange' href='/sponsors'>here</a> for more information.</h6>
                    </div>
                </div>
            </div>
            <div class='screen screen-5' id='hack-week'>
                <div class='top-left'>
                    <h2 class='screen-title'>Hack Week</h2>
                </div>
                <div class='row'>
                    <div class='twelve columns'>
                        <h6>What is hack week?</h6>
                        <p>Hack week is a weeklong tutorial on how to build a full-featured web application from the ground up. From Python to HTML, CSS to JavaScript, we'll get you up and running so that when it comes time for the hackathon, you can build something awesome.</p>
                        <h6>When is hack week?</h6>
                        <p>Hack week is every night from 7-9pm during the week of April 8th-12th, culminating in the 5C Hackathon.</p>
                        <h6>Where is hack week?</h6>
                        <p>Hack week is held in Edmunds 114, the Pomona Computer Science building.</p>
                        <h6>What specific skills will I learn?</h6>
                        <p>Everything you need to know to build a dynamic web application (or as much as we can teach you in 10 hours). We'll cover writing HTML/CSS, writing server-side code in Python with Flask, designing frontend interactions with JavaScript, deploying your web application with Heroku, and managing/collaborating on your code with Git and Github.</p>
                        <h6>Do I need to come to every night?</h6>
                        <p>To guarantee that you leave with the skills and confidence to build a web app on your own, we highly encourage that you attend the entire week of tutorials. However, we understand that you may have other commitments, so we will provide starter code at the start of each evening to catch you up on what happened the previous night.</p>
                        <h6>I don't think I can do this alone!</h6>
                        <p>You won't be doing it alone! On Monday, we'll put everyone in pairs so you can have a teammate to help you work through all the hard parts (one more reason to come every day). Plus, once the two of you have conquered hack week (think hell week, jklolz), you'll be the ideal duo to win the hackathon!</p>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <p>Website created by <a href='http://jessepollak.me'>Jesse Pollak</a></p>
        </footer>
    </div>
    <div id='jump-top-container' style='display:none;'>
        <a href='#top'>jump ^</a>
    </div>
    <script type='text/javascript' src='j/app.js'></script>
</body>
</html>