<html>
<head>
    <title>5C Hackathon</title>
    <link rel="stylesheet" href="c/reset.css">
    <link rel="stylesheet" href="c/styles.css">
    <link rel="stylesheet" href="c/slabtext.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type='text/javascript' src='j/modernizr-2.6.2.js'></script>
    <script type='text/javascript' src='j/slabtext.min.js'></script>
</head>
<body>
    <div class='container'>
        <header>
            <div class='left'>
                <h1><a href='/'>5C Hackathon</a></h1>
            </div>
            <div class='right'>
                <ul>
                    <li><a href='#home'>Home</a></li>
                    <li><a href='#information'>Information</a></li>
                    <li><a href='#prizes'>Prizes</a></li>
                    <li><a href='#sponsors'>Sponsors</a></li>
                </ul>
            </div>
        </header>

        <section class='content'>
            <div class='panel panel-1' id='home'>
                <div class='center'>
                    <h1 class='centered'>
                        <span class='slabtext'>3rd</span>
                        <span class='slabtext'>Semi Annual</span>
                        <span class="slabtext">5C Hackathon</span>
                    </h1>
                    <h2 class='centered' id='date'>April 12th-13th</h2>
                </div>
            </div>
            <div class='panel panel-2' id='information'>
            </div>
            <div class='panel panel-3' id='prizes'>
            </div>
            <div class='panel panel-4' id='sponsors'>
            </div>
            <div class='panel panel-5'>
            </div>
            <div class='panel panel-6'>
            </div>
        </section>

        <footer>
        </footer>
    </div>
    <script type='text/javascript' src='j/app.js'></script>
</body>
</html>