<html>
<head>
    <title>5C Hackathon</title>
    <link rel="stylesheet" href="c/reset.css">
    <link rel="stylesheet" href="f/stylesheets/foundation.css">
    <link rel="stylesheet" href="c/styles.css">
    <link rel="stylesheet" href="c/slabtext.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type='text/javascript' src='j/modernizr-2.6.2.js'></script>
    <script type='text/javascript' src='j/slabtext.min.js'></script>
</head>
<body>
    <div class='container'>
        <header>
            <div class='left'>
                <h1><a href='/'>5C Hackathon</a></h1>
            </div>
            <div class='right'>
                <ul>
                    <li><a href='#home'>Home</a></li>
                    <li><a href='#schedule'>Schedule</a></li>
                    <li><a href='#prizes'>Prizes</a></li>
                    <li><a href='#sponsors'>Sponsors</a></li>
                </ul>
            </div>
        </header>

        <section class='content'>
            <div class='screen screen-1' id='home'>
                <div class='center'>
                    <h1 class='centered'>
                        <span class='slabtext'>3rd</span>
                        <span class='slabtext'>Semi Annual</span>
                        <span class="slabtext">5C Hackathon</span>
                    </h1>
                    <h2 class='centered' id='date'>April 12th-13th</h2>
                </div>
            </div>
            <div class='screen screen-2' id='schedule'>
                <div class='top-left'>
                    <h2 class='screen-title'>Schedule</h2>
                </div>
                <div class='row'>
                    <div class='five columns push-two'>
                        <ul>
                            <li>
                                <h4 class='time'>8pm</h4>
                                <h5>Hacking begins</h5>
                            </li>

                            <li>
                                <h4 class='time'>10pm</h4>
                                <h5>Snacks on snacks</h5>
                            </li>

                            <li>
                                <h4 class='time'>12am</h4>
                                <h5>Pizza served</h5>
                            </li>

                            <li>
                                <h4 class='time'>2am</h4>
                                <h5>Snacks on snacks</h5>
                            </li>
                        </ul>
                    </div>
                    <div class='five columns'>
                        <ul>
                            <li>
                                <h4 class='time'>4am</h4>
                                <h5>Krispy Kreme</h5>
                            </li>

                            <li>
                                <h4 class='time'>6am</h4>
                                <h5>Hot coffee served</h5>
                            </li>

                            <li>
                                <h4 class='time'>8am</h4>
                                <h5>Breakfast</h5>
                            </li>

                            <li>
                                <h4 class='time'>10am</h4>
                                <h5>Bedtime</h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class='screen screen-3' id='prizes'>
                <div class='top-left'>
                    <h2 class='screen-title'>Prizes</h2>
                </div>
            </div>
            <div class='screen screen-4' id='sponsors'>
                <div class='top-left'>
                    <h2 class='screen-title'>Sponsors</h2>
                </div>
            </div>
            <div class='screen screen-5'>
            </div>
            <div class='screen screen-6'>
            </div>
        </section>

        <footer>
        </footer>
    </div>
    <script type='text/javascript' src='j/app.js'></script>
</body>
</html>