<html>
<head>
    <title>5C Hackathon</title>
    <link rel="stylesheet" href="c/reset.css">
    <link rel="stylesheet" href="f/stylesheets/foundation.css">
    <link rel="stylesheet" href="c/styles.css">
    <link rel="stylesheet" href="c/slabtext.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type='text/javascript' src='j/modernizr-2.6.2.js'></script>
    <script type='text/javascript' src='j/slabtext.min.js'></script>
    <script type='text/javascript' src='j/jquery.smooth-scroll.min.js'></script>
</head>
<body>
    <div class='container' id='top'>
        <!-- If anyone is motivated enough to deal with templating, go for it -->
        <header>
            <div class='left'>
                <h1><a href='/'>5C Hackathon</a></h1>
                <h6> <a href='/sponsorslist'>Sponsors</a></h6>
                <h6><a href='http://www.eventbrite.com/event/4818916509/'>Register</a></h6>
            </div>
            <div class='right'>
                <ul>
                    <li><a href='#information'>Info</a></li>
                    <li><a href='#schedule'>Schedule</a></li>
                    <li><a href='#judges'>Judges</a></li>
                    <li><a href='#prizes'>Prizes</a></li>
                    <li><a href='#hack-week'>Hack Week</a></li>
                    <li><a href='#devtools'>Dev Tools</a></li>
                </ul>
            </div>
        </header>

        <section class='content'>
            <div class='screen screen-1' id='home'>
                <div class='row'>
                    <div class='six columns centered'>
                            <h1 class='centered slab'>
                                <a href='http://www.facebook.com/events/495722040464131/'>
                                <span class='slabtext'>3rd</span>
                                <span class='slabtext'>Semiannual</span>
                                <span class='slabtext'>5C Hackathon</span>
                                </a>
                            </h1>
                            <h2 class='centered' id='date'>April 12th-13th</h2>
                    </div>
                </div>
            </div>
            <div class='screen screen-6' id='information'>
                <div class='top-left'>
                    <h2 class='screen-title'>Information</h2>
                </div>
                <div class='row'>
                    <div class='twelve columns'>
                        <h6>What is a hackathon?</h6>
                        <p>According to Wikipedia, a hackathon (also known as a hack day, hackfest or codefest) is an event in which computer programmers and others in the field of software development, like graphic designers, interface designers and project managers collaborate intensively on software projects. We like to define it a little more casually: a 12 hour time period in which you get the chance to build whatever you want.</p>
                        <h6>Do I need to be able to code to participate?</h6>
                        <p>It definitely helps, but designers (and motivated product people) are also essential components of successful hackathon teams. If you don't know how to code (or don't know how to apply the skills you've learned in classes to the real world), come to <a class='gold' href='http://www.facebook.com/events/475072895896140/'>Hack Week</a> and we'll teach you!</p>
                        <h6>Why is it overnight?</h6>
                        <p>Because doing things overnight is way more badass. Plus, it means no distractions, freedom to take over the entire building, and the romance of watching the sun rise.</p>
                        <h6>Why should I participate?</h6>
                        <p>When was the last time you built something amazing? Something that wowed your friends and family? Something that you could put on your resume that would earn you the eternal stamp of 'badass'? Now's your chance to answer all of those questions in a single night. Plus, we'll have tons of food, crazy cool prizes, and some first-class people.</p>
                        <h6>Food and prizes, you say?</h6>

                        <p>Yes, lots of food and lots of prizes. We plan to have more energy drinks than you could ever want, a <a class='orange' target='_blank' href='http://www.crepesbonaparte.com/'>food truck</a>, fresh fruit, Krispy Kreme, coffee, tomatoes, Pop-Tarts, and tons more. Check out the <a class='gold' href="#prizes">Prizes</a> section for more information on the prizes.
                    </div>
                </div>
            </div>
            <div class='screen screen-2' id='schedule'>
                <div class='top-left'>
                    <h2 class='screen-title'>Schedule</h2>
                </div>
                <div class='row'>
                    <div class='six columns'>
                        <ul>
                            <li>
                                <h4 class='time'>7pm</h4>
                                <h5>Kickoff</h5>
                            </li>

                            <li>
                                <h4 class='time'>8pm</h4>
                                <h5>Hacking begins</h5>
                            </li>

                            <li>
                                <h4 class='time'>12am</h4>
                                <h5>Food truck rolls in</h5>
                            </li>

                            <li>
                                <h4 class='time'>2am</h4>
                                <h5>2-minute run</h5>
                            </li>
                        </ul>
                    </div>
                    <div class='six columns'>
                        <ul>
                            <li>
                                <h4 class='time'>4am</h4>
                                <h5>Krispy Kreme</h5>
                            </li>

                            <li>
                                <h4 class='time'>6am</h4>
                                <h5>Crunch time</h5>
                            </li>

                            <li>
                                <h4 class='time'>8am</h4>
                                <h5>Presentations and prizes</h5>
                            </li>

                            <li>
                                <h4 class='time'>10am</h4>
                                <h5>Bedtime</h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class='screen screen-7' id='judges'>
                <div class='top-left'>
                    <h2 class='screen-title'>Judges</h2>
                </div>
                 <div class='row'>
                    <div class='twelve columns'>
                        <ul>
                            <li class='row'>
                                <div class='thumb'>
                                    <img src='i/judges/brennen.png' />
                                </div>
                                <div>
                                    <h6>Brennen Byrne / CEO and co-founder, <a class='orange' href='https://clef.io/'>Clef</a></h6>
                                    <p>Recent Pomona alum and one of the original founders of the 5C Hackathon, Brennen is excited to be on the other side of the judges' table this semester. Since graduating in December, he has relocated to San Francisco where he has been working on Clef, a company he started with Mark Hudnall and Jesse Pollak while at school. Brennen has been enjoying his first months in the real world building Clef's brand, learning the ins-and-outs of running a business, and maintaining a well-read tech blog.</p>
                                </div>
                            </li>
                            <li class='row'>
                                <div class='thumb'>
                                    <img src='i/judges/scott.jpg' />
                                </div>
                                <div>
                                    <h6>Scott Clark / Software Engineer - <span class='small'>Ad Targeting</span>, <a class='orange' href='http://www.yelp.com/careers?country=US'>Yelp</a></h6>
                                    <p>Scott recently finished his PhD in Applied Mathematics at Cornell University and is currently enjoying the transition from academia to industry, trying to learn and experience as much as possible in the Bay Area tech community. He enjoys coming up with and implementing new algorithms to solve difficult problems more efficiently with emphasis on parallelization and exploiting huge data sets using statistics and machine learning. In his free time, he likes to build things, viewable on his website: <a class='orange' href='http://scottclark.io'>http://scottclark.io</a>.</p>
                                </div>
                            </li>
                            <li class='row'>
                                <div class='thumb'>
                                    <img src='i/judges/anonymous.png' />
                                </div>
                                <div>
                                    <h6>Pranay Kapadia / Head of Product <span class='small'>- Mobile Payments & Point of Sale</span>, <a class='orange' href='http://careers.intuit.com/'>Intuit</a></h6>
                                    <p>Bio coming soon.</p>
                                </div>
                            </li>
                            <li class='row'>
                                <div class='thumb'>
                                    <img src='i/judges/anonymous.png' />
                                </div>
                                <div>
                                    <h6>Jose Moreno / Software Development Engineer - <span class='small'>Windows</span>, <a class='orange' href='http://careers.microsoft.com/careers/en/us/collegehome.aspx'>Microsoft</a></h6>
                                    <p>Bio coming soon.</p>
                                </div>
                            </li>
                            <li class='row'>
                                <div class='thumb'>
                                    <img src='i/judges/anonymous.png' />
                                </div>
                                <div>
                                    <h6>Mekka Okereke / Senior Manager of Software Development, <a class='orange' href='http://www.a2z.com/'>Amazon</a></h6>
                                    <p>Bio coming soon.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class='screen screen-3' id='prizes'>
                <div class='top-left'>
                    <h2 class='screen-title'>Prizes</h2>
                </div>
                <div class='row'>
                    <div class='six columns category'>
                        <div class='prize'>
                            <h5>1st place, Advanced</h5>
                            <ul>
                                <li>iPad minis</li>
                                <li>Names engraved on the Hacker Cup</li>
                                <li>...more to come?</li>
                            </ul>
                        </div>
                        <div class='prize'>
                            <h5>1st place, Beginner</h5>
                            <ul>
                                <li>Kindle Fires</li>
                            </ul>
                        </div>
                        <div class='prize'>
                            <h5>2nd place, Advanced</h5>
                            <ul>
                                <li>iPod nanos</li>
                            </ul>
                        </div>
                        <div class='prize'>
                            <h5>2nd place, Beginner</h5>
                            <ul>
                                <li>1-year Spotify Premium subscriptions</li>
                            </ul>
                        </div>
                    </div>
                    <div class='six columns category'>
                         <div class='prize'>
                            <h5>Best Game</h5>
                            <ul>
                                <li>Halo 4</li>
                                <li>VIP tickets to the <a class='orange' href='http://afterhoursgaming.tv/'>After Hours Gaming League</a> Finals</li>
                            </ul>
                        </div>
                        <div class='prize'>
                            <h5>Best Design</h5>
                            <ul>
                                <li>20" monitors with HDMI cables</li>
                            </ul>
                        </div>
                        <div class='prize'>
                            <h5>People's Choice</h5>
                            <ul>
                                <li>Noise-cancelling headphones</li>
                            </ul>
                        </div>
                        <div class='prize'>
                            <h5>Best Use of MongoDB</h5>
                            <ul>
                                <li>Provided by 10gen</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class='screen screen-5' id='hack-week'>
                <div class='top-left'>
                    <h2 class='screen-title'>Hack Week</h2>
                </div>
                <div class='row'>
                    <div class='twelve columns'>
                        <h6>What is hack week?</h6>
                        <p><a class='orange' href='http://www.facebook.com/events/475072895896140/'>Hack week</a> is a weeklong tutorial on how to build a full-featured web application from the ground up. From Python to HTML, CSS to JavaScript, we'll get you up and running so that when it comes time for the hackathon, you can build something awesome.</p>
                        <h6>When is hack week?</h6>
                        <p>Hack week is every night from 7-9pm during the week of April 8th, culminating in the 5C Hackathon.</p>
                        <h6>Where is hack week?</h6>
                        <p>Hack week is held in Edmunds 101, the Pomona Computer Science building.</p>
                        <h6>What specific skills will I learn?</h6>
                        <p>Everything you need to know to build a dynamic web application (or as much as we can teach you in 10 hours). We'll cover writing HTML/CSS, writing server-side code in Python with Flask, designing frontend interactions with JavaScript, deploying your web application with Heroku, and managing/collaborating on your code with Git and Github.</p>
                        <h6>Do I need to come to every night?</h6>
                        <p>To guarantee that you leave with the skills and confidence to build a web app on your own, we highly encourage that you attend the entire week of tutorials. However, we understand that you may have other commitments, so we will provide starter code at the start of each evening to catch you up on what happened the previous night.</p>
                        <h6>I don't think I can do this alone!</h6>
                        <p>You won't be doing it alone! On Monday, we'll put everyone in pairs so you can have a teammate to help you work through all the hard parts (one more reason to come every day). Plus, once the two of you have conquered hack week (think hell week, jklolz), you'll be the ideal duo to win the hackathon!</p>
                    </div>
                </div>
            </div>

            <div class='screen screen-8' id='devtools'>
                <div class='top-left'>
                    <h2 class='screen-title'>Developer Tools and APIs</h2>
                </div>
                <div class='row'>
                    <div class='twelve columns'>
                        <h6>What are these?</h6>
                        <p>These are handy tools offered by our sponsors that can help take your project to the next level. From easy ways to collaborate on code with your teammates to geographically-oriented data that can drive your application, these resources can save you a lot of time and effort so that you can focus on the important stuff. Plus, you might win some bonus points with the judges if you use their company's API.</p>
                        <h6>But how do I use them?</h6>
                        <p>There are almost always easy-to-follow instructions with worked-out examples on the company's website. We'll also be incorporating several of these tools into <a class='blue' href='#hack-week'>Hack Week</a> so you can see them in action. Even better, we'll have representatives from our sponsors at the hackathon who will be more than happy to answer questions about their developer tools and APIs!</p>
                        <ul>
                            <li>
                                <img class='four columns' src='i/intuit/intuit_white.png' />
                                <p><a class='blue' href='http://developer.intuit.com/'>Intuit Partner Platform</a> enables developers to create new innovative applications for small businesses and consumers by providing access to powerful data and platform APIs.</p>
                                <h7>Power your app with Customer Account Data</h7>
                                    <p>Want to power your app with consumer and small business financial account and transactional data from nearly 19,000 financial institutions throughout the U.S. and Canada? <a class='blue' href='http://developer.intuit.com/agg-cat/index.html'>Learn more</a> or <a class='blue' href='https://appcenter.intuit.com/Account/DevSignUp?nexturl=https%3A%2F%2Fappcenter.intuit.com%2FDeveloper%2FCreate%23agg'>Get Started Now.</a></p>
                                    <h7>Integrate your app with QuickBooks</h7>
                                    <p>With Intuit Anywhere, SaaS or mobile apps can securely connect to QuickBooks data and be discovered on the Intuit App Center.</p>
                            </li>
                            <li>
                                <img class='three columns' src='i/yelp/yelp_white.png' />
                                <p>Want to try predicting business categories with a fancy clustering algorithm? How about predicting star ratings using sentiment analysis? Or maybe you want to build a cool visualization of great local businesses? With its <a class='blue' href='http://www.yelp.com/academic_dataset'>Academic Dataset</a>, Yelp is providing all the data and reviews of the 250 closest businesses for 30 universities, including Harvey Mudd, for students and academics to explore and research.</p>
                            </li>
                            <li>
                                <a href='https://bitbucket.org/' ><img class='four columns' src='i/atlassian/bitbucket_white.png' /></a>
                                <p>Store all of your Git and Mercurial source code in one place, in the cloud, with free unlimited private repositories. Includes issue tracking, wiki, and pull requests.</p>
                            </li>
                            <li>
                                <a href='http://www.atlassian.com/software/sourcetree/overview'><img class='four columns' src='i/atlassian/sourcetree_white.png' /></a>
                                <p>A powerful Mac client for Git and Mercurial distributed version control systems.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </section>

        <footer>
            <p>built with love by <a class='blue' href='http://jessepollak.me'>Jesse Pollak</a></p>
        </footer>
    </div>
    <div id='jump-top-container' style='display:none;'>
        <a href='#top'>jump ^</a>
    </div>
    <script type='text/javascript' src='j/app.js'></script>
</body>
</html>
