<html>
<head>
    <title>5C Hackathon</title>
    <link rel="stylesheet" href="c/reset.css">
    <link rel="stylesheet" href="c/styles.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type='text/javascript' src='j/modernizr-2.6.2.js'></script>
    <script type='text/javascript' src='j/app.js'></script>
</head>
<body>
    <div class='container'>
        <header>
        </header>

        <section class='content'>
        </section>

        <footer>
        </footer>

    </div>
</body>
</html>