<html>
<head>
    <title>Sponsors</title>
    <link rel="stylesheet" href="c/reset.css">
    <link rel="stylesheet" href="f/stylesheets/foundation.css">
    <link rel="stylesheet" href="c/styles.css">
    <link rel="stylesheet" href="c/slabtext.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type='text/javascript' src='j/modernizr-2.6.2.js'></script>
    <script type='text/javascript' src='j/slabtext.min.js'></script>
    <script type='text/javascript' src='j/jquery.smooth-scroll.min.js'></script>
    <script type='text/javascript' src='j/app.js'></script>
</head>
<body>
    <header>
        <div class='left'>
            <h1><a href='/'>5C Hackathon</a></h1>
            <h6> <a href='/sponsorslist'>Sponsors</a></h6>
        </div>
        <div class='right'>
            <ul>
                <li><a href='/#information'>Info</a></li>
                <li><a href='/#schedule'>Schedule</a></li>
                <li><a href='/#judges'>Judges</a></li>
                <li><a href='/#prizes'>Prizes</a></li>
                <li><a href='/#hack-week'>Hack Week</a></li>
            </ul>
        </div>
    </header>
    <div class="container" id='sponsors'>
        <div class='heading screen-1'>
            <h2>Thanks to our Spring 2013 sponsors</h2>
            <div class='row'>
                <div class='twelve columns centered'>
                    <h6>
                        Interested in sponsoring the 5C Hackathon this fall?<br/> Click <a class='blue' href='/sponsor'>here</a> for more information.
                    </h6>
                </div>
            </div>
        </div>
        <div class='row'>
            <ul class='twelve columns'>
                <!-- Gold Sponsors -->
                <h4>Gold Sponsors</h4>
                <li>
                    <span>
                        <img class='four columns' src='i/pomona_ventures/ventures.jpg' />
                    </span>
                    <span>
                        <p><a class='blue' href='http://www.pomonaventures.com'>Pomona Ventures</a> is a student-run organization that aims to create an entrepreneurial community on campus. It is made up of a student executive board, a board of alumni advisors, and Pomona College student members. Pomona Ventures strives to inspire students to take risks and tackle real problems that they are passionate about solving. By providing a supportive community of students and alumni, it hopes to kindle a lasting entrepreneurial culture at Pomona College.</p>
                    </span>
                </li>

                <li>
                    <span>
                        <img class='four columns' src='i/intuit/intuit_c_r.png' />
                    </span>
                    <span>
                        <p>Year-over-year, <a class='blue' href='http://www.intuit.com'>Intuit</a> has been recognized on Fortune's "100 Best Companies To Work For" and at the top of Fortune World's "Most Admired Software Companies." Employees immerse themselves in our award winning culture while creating breakthrough solutions that change the financial lives of more than 50 million personal users, seven million small businesses, and over 1,800 financial institutions and their millions of customers worldwide.</p>
                    </span>
                        <p>Combining organic growth with strategic partnerships, Intuit is expanding its social, mobile, and global footprint with products and services that are revolutionizing the industry. Our 8,000 entrepreneurial employees have brought more than 250 innovations to market - from QuickBooks®, Quicken®, and TurboTax®, to GoPayment, Mint.com, Intuit Healthcare Solutions, big data, SaaS, and mobile apps. The breadth and depth of these customer-driven innovations mean limitless opportunities for employees to turn their ingenious ideas into reality at Intuit.</p>
                </li>

                <li>
                    <span>
                        <img class='four columns' src='i/yelp/Yelp_Logo_Color_Background.png' />
                    </span>
                    <span>
                        <p><a class='blue' href='http://www.yelp.com'>Yelp</a> has been changing the nature of how people share local knowledge and find out about what's going on in their city and beyond since 2004. We're one part community, one part local city guide, with an opinion on everything from mechanics and martini bars to dentists and dining, and everything in between. Doesn't that sound like something you'd want to be involved in? We have a scrappy team of software engineers here at Yelp and we need more! We are hiring students pursuing a Bachelor's, Master's or Doctorate degree.</p>
                    </span>
                </li>

                <!-- Silver Sponsors -->
                <h4>Silver Sponsors</h4>
                <li>
                    <span>
                        <img class='three columns' src='i/microsoft/MSFT_logo_Web.jpg' />
                    </span>
                    <span>
                        <p>At <a class='blue' href='http://www.microsoft.com'>Microsoft</a>, we're motivated and inspired every day by how our customers use our software to find creative solutions to business problems, develop breakthrough ideas, and stay connected to what's most important to them. We are committed long-term to the mission of helping our customers realize their full potential. Just as we constantly update and improve our products, we want to continually evolve our company to be in the best position to accelerate new technologies as they emerge and to better serve our customers.</p>
                    </span>
                </li>

                <li>
                    <span>
                        <img class='three columns' src='i/atlassian/logoAtlassianPNG.png' />
                    </span>
                    <span>
                        <p><a class='blue' href='http://www.atlassian.com'>Atlassian</a> is an award-winning enterprise software company that helps innovators everywhere plan, build, and launch great software. Atlassian's portfolio of products includes JIRA, the industry-leading project and issue tracking software; Confluence, its content collaboration product; and a broad range of popular developer tools.</p>
                    </span>
                </li>

                <li>
                    <span>
                        <img class='three columns' src='i/amazon/amazon.jpeg' />
                    </span>
                    <span>
                        <p>At <a class='blue' href='http://college.amazon-jobs.com/home/'>Amazon</a>, we’ve re-invented the online shopping experience, cloud computing, publishing, and even the book. But that’s not all. While most people have heard of Amazon.com, Amazon Web Services, and Kindle products, not many know that we also develop video games, engineer music and video streaming technology, shoot high-fashion photography, and help other businesses sell and distribute their products. We are a federation of startups, each one working to build the best solution to unique problems.</p>
                    </span>
                </li>

                <!-- Other Sponsors -->
                <h4>Friends of the 5C Hackathon</h4>

                <li>
                    <span>
                        <img class='two columns' src='i/cie/cie.png' />
                    </span>
                    <span>
                        <p>The <a class='blue' href='http://cmc.edu/cie/'>Center for Innovation and Entrepreneurship</a> was created to foster and support the entrepreneurial initiatives of students at the Claremont Colleges. The vision of the program is multidimensional and includes a mentorship program, co-curricular workshops, speakers, and a physical hub for entrepreneurship. CIE serves to catalyze the efforts of student initiatives at the Claremont Colleges by connecting students, alumni, faculty and the broader community in an environment that fosters innovative thinking and creative problem solving.</p>
                    </span>
                </li>

                <li>
                    <span>
                        <img class='three columns' src='i/pivotal/logo_blue_1004x400px.png' />
                    </span>
                    <span>
                        <p>As a recognized leader in highly disciplined agile software development practices <a class='blue' href='http://www.pivotallabs.com'>Pivotal Labs</a> has been building high reliability software for over 20 years. We build consumer and enterprise web and mobile applications for global clients, and have a growing practice building applications for the iOS and Android platforms. We also developed Pivotal Tracker, the project management and collaboration tool used by thousands of software developers worldwide.</p>
                    </span>
                </li>

                <li>
                    <span>
                        <img class='three columns' src='i/google/google_logo_web.jpg' />
                    </span>
                    <span>
                        <p>With all our technologies, from search to Chrome to Gmail, <a class='blue' href='http://www.google.com/about'>Google</a>'s mission is to make the world's information universally accessible and useful. This means making search smarter and faster so it can understand that when you type [jaguar] you’re looking for the car, not photos of the animal. It means showing you when your friends like an ad or a search result so that you know it might be valuable. Above all, it means making our products work better so that people can spend time on the stuff they’re good at — like enjoying time with family, camping in the wilderness, or painting a picture.</p>
                    </span>
                </li>

                <li>
                    <span>
                        <img class='three columns' src='i/10gen/logo.png' />
                    </span>
                    <span>
                        <p><a class='blue' href="http://10gen.com">10gen</a> is the company behind MongoDB, the leading NoSQL database. MongoDB is the open-source, document database that is reshaping the market due to the popularity of its agile and scalable approach among developers and IT professionals. 10genleads MongoDB development, supports the large and growing MongoDB community, provides commercial subscriptions including support, and offers consulting and training.
                    </span>
                </li>

                <li>
                    <span>
                        <img class="two columns" src='i/hmcCS/hmc_logo.gif' />
                    </span>
                    <span>
                        <p>The <a class='blue' href='http://www.cs.hmc.edu/'>Harvey Mudd CS Department</a> seeks to provide students with a strong foundational background blending experimentation, theory, and design. Our graduates are equally well-prepared for work in industry and graduate school. The capstone Clinic Program provides students with a year-long software design project and our active Research Program involves approximately 50 students in research, funded by grants and gifts from the National Science Foundation, Howard Hughes Medical Institute, and the Rose-Hills and Baker Foundations. The department works closely with our sister departments at Pomona and Claremont McKenna Colleges.</p>
                    </span>
                </li>

                <li>
                    <span>
                        <img class='four columns' src='i/pomonaCS/pomonaCS.png' />
                    </span>
                    <span>
                        <p>The <a class='blue' href='http://www.cs.pomona.edu'>Pomona CS Department</a> is a small, closely-knit group of students and faculty interested in both the theoretical and practical aspects of computer science. Pomona's CS department collaborates closely with the Harvey Mudd College CS Department to provide a solid foundation of study in computer science within the broader context of a liberal arts education. Upon completion of the CS major, students are well-prepared to continue on to more advanced studies at the graduate level, or to embark upon technological careers in the computer industry.</p>
                    </span>
                </li>

                <li>
                    <span>
                        <img class='two columns' src='i/wacm/wacm.png' />
                    </span>
                    <span>
                        <p>The Claremont Colleges chapter of <a class='blue' href='http://women.acm.org/'>Women in the Association for Computing Machinery</a> is a 5C organization whose mission is to empower women to engage with technology and to promote the participation of women in computing. Throughout the year, we hold workshops dedicated to teaching practical skills, host regular social gatherings for students to meet and discuss their projects and interests, and work with the 5C CS departments to help sponsor speakers, talks, and trips to CS-related events and conferences.</p>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
