<html>
<head>
    <title>Sponsor the 5C Hackathon</title>
    <link rel="stylesheet" href="c/reset.css">
    <link rel="stylesheet" href="f/stylesheets/foundation.css">
    <link rel="stylesheet" href="c/styles.css">
    <link rel="stylesheet" href="c/slabtext.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type='text/javascript' src='j/modernizr-2.6.2.js'></script>
    <script type='text/javascript' src='j/slabtext.min.js'></script>
    <script type='text/javascript' src='j/jquery.smooth-scroll.min.js'></script>
    <script type='text/javascript' src='j/app.js'></script>
</head>
<body>
    <header>
        <div class='left'>
            <h1><a href='/'>5C Hackathon</a></h1>
            <h6> <a href='/sponsorslist'>Sponsors</a></h6>
            <h6><a href="/#register">Register</a></h6>
        </div>
        <div class='right'>
            <ul>
                <li><a href='/#information'>Info</a></li>
                <li><a href='/#schedule'>Schedule</a></li>
                <li><a href='/#prizes'>Prizes</a></li>
                <li><a href='/#hack-week'>Hack Week</a></li>
                <li><a href='/#developer-tools'>Dev Tools</a></li>
            </ul>
        </div>
    </header>
    <div class='container sponsor-page screen-5' id='top'>
        <div class='centered'>
            <h2 class='screen-title'>Become a sponsor</h2>
        </div>
        <div class="row">
            <div class="twelve columns">
                <h2>What?</h2>
                <p>The 5C Hackathon is a semiannual hackathon held on Pomona College's campus. Last semester, over 300 of the Claremont Colleges' brightest techincal minds spent 12 hours hacking on projects ranging from <a class='orange' href='https://chrome.google.com/webstore/detail/8trhacker/npgibndagfpfcddhnlnhbacedilajgkd?hl=en-US'>8trhacker</a>, a Chrome extension to bypass limits on 8tracks, to <a class='orange' href='http://gitbattle.com'>GitBattle</a>, an app to battle Github accounts.</p>
                <p>An entirely student-run event, the 5C Hackathon has rapidly become a highly anticipated and attended tradition at the Claremont Colleges, drawing talent from five different schools: Pomona, Harvey Mudd, Claremont McKenna, Scripps, and Pitzer.</p>
                <h2>Why?</h2>
                <p>Sponsoring the 5C Hackathon is a unique opportunity to connect with some of the most talented tech and design undergraduates in the country. Participants comprise some of the most creative, motivated students at the Claremont Colleges, with skills ranging from graphic design, to mobile development, to game development. As a sponsor, you will be able to reach computer science, economics, and other majors who represent the student population that is most passionate about technology. And, unlike more traditional technical institutes, the Claremont Colleges graduate liberal arts students -- young people equipped with a set of skills that uniquely prepares them for any job, whether it's a role as a founder, first employee, or leader in a well-established company.</p>
                <p>With your support, we will provide student teams with space, food, and prizes, which will be awarded to the best projects in beginner and advanced divisions. During the week prior, we will also lead tutorials on frameworks, tools, and APIs to ensure all participants can be successful.</p>
                <h2>When?</h2>
                <p>The fifth semiannual 5C Hackathon will be held the weekend of April 11th at Pomona College.</p>
                <h2>How?</h2>
                <p>Shoot us an email at sponsors@5chackathon.com, and we'll work out the details. Be sure to check out our <a class='orange' href='#tiers'>sponsorship tiers</a> below.</p>
            </div>
        </div>
        <div class='row' id='tiers'>
            <div class="twelve columns centered">
                <h1>Sponsorship Tiers</h1>
            </div>
        </div>
            <div class='row tier'>
            <div class='four columns'>
                <h2>Platinum</h2>
                <h4>$8000</h4>
                <h6>(limit 1)</h6>
            </div>
            <div class="eight columns">
                <ul>
                    <li>The 5C Hackathon, presented by...</li>
                    <li>"A few words from our sponsor" at the hackathon kickoff</li>
                    <li>Logo on all pages of the event website</li>
                    <li>Rolling access to participant resume database</li>
                    <li>Job and internship advertisements distributed to the event mailing list</li>
                    <li>Oportunity to send judge, recruiters, and company representatives</li>
                    <li>Special placement of logo in all event flyers, posters, e-mails, and slides</li>
                    <li>Special placement of logo on official event T-shirts</li>
                    <li>API or developer tools featured on the event website, if applicable</li>
                    <li>Swag distrubtion at kickoff registration tables</li>
                </ul>
            </div>
        </div>
        <div class='row tier'>
            <div class='four columns'>
                <h2>Gold</h2>
                <h4>$4000</h4>
            </div>
            <div class="eight columns">
                <ul>
                    <li>Post-event access to participant resume database</li>
                    <li>Job and internship advertisements distributed to the event mailing list</li>
                    <li>Oportunity to send one judge and one recruiter/company representative</li>
                    <li>Primary placement of logo in all event flyers, posters, e-mails, and slides</li>
                    <li>Primary placement of logo on official event T-shirts</li>
                    <li>Organization name, logo, and bio on the event website</li>
                    <li>API or developer tools featured on the event website, if applicable</li>
                    <li>Swag distribution</li>
                </ul>
            </div>
        </div>
        <div class='row tier silver'>
            <div class='four columns'>
                <h2>Silver</h2>
                <h4>$2000</h4>
            </div>
            <div class="eight columns">
                <ul>
                    <li>Opportunity to send one recruiter/company representative</li>
                    <li>Secondary placement of logo in all event flyers, posters, emails, and slides</li>
                    <li>Secondary placement of logo on official event T-shirts</li>
                    <li>Organization name, logo, and bio on the event website</li>
                    <li>API or developer tools featured on the event website, if applicable</li>
                    <li>Swag distribution</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns centered">
                <h6>Shoot us an email at <a class='orange' href='mailto:sponsors@5chackathon.com'>sponsors@5chackathon.com</a> to get involved.</h6>
            </div>
        </div>
    </div>
</body>
</html>