<html>
<head>
    <title>Sponsors</title>
    <link rel="stylesheet" href="c/reset.css">
    <link rel="stylesheet" href="f/stylesheets/foundation.css">
    <link rel="stylesheet" href="c/styles.css">
    <link rel="stylesheet" href="c/slabtext.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type='text/javascript' src='j/modernizr-2.6.2.js'></script>
    <script type='text/javascript' src='j/slabtext.min.js'></script>
    <script type='text/javascript' src='j/jquery.smooth-scroll.min.js'></script>
    <script type='text/javascript' src='j/app.js'></script>
</head>
<body>
    <header>
        <div class='left'>
            <h1><a href='/'>5C Hackathon</a></h1>
            <h6> <a href='/sponsorslist'>Sponsors</a></h6>
            <!--<h6><a href='/#register'>Register</a></h6>-->
        </div>
        <div class='right'>
            <ul>
                <li><a href='/#information'>Info</a></li>
                <li><a href='/#schedule'>Schedule</a></li>
                <!--<li><a href='/#judges'>Judges</a></li>-->
                <!-- <li><a href='/#prizes'>Prizes</a></li>-->
                <li><a href='/#hack-week'>Hack Week</a></li>
                <li><a href='/#developer-tools'>Dev Tools</a></li>
            </ul>
        </div>
    </header>
    <div class="container" id='sponsors'>
        <div class='heading screen-1'>
            <h2>Thanks to our sponsors</h2>
            <div class='row'>
                <div class='twelve columns centered'>
                    <h6>
                        Interested in sponsoring the 5C Hackathon next spring?<br/> Click <a class='blue' href='/sponsor'>here</a> for more information.
                    </h6>
                </div>
            </div>
        </div>
        <div class='row'>
            <ul class='twelve columns'>
                <!-- Gold Sponsors -->
                <h4>Gold Sponsors</h4>
                <li>
                    <span>
                        <img class='four columns' src='i/google/google_logo_web.jpg' />
                    </span>
                    <span>
                        <p><a class='blue' href='http://www.google.com/about/jobs/'>Google</a>'s innovative search technologies connect millions of people around the world with information every day. With all our technologies, from search to Chrome to Gmail, Google's mission is to make the world's information universally accessible and useful. This means making search smarter and faster so it can understand that when you type [jaguar] you’re looking for the car, not photos of the animal. It means showing you when your friends like an ad or a search result so that you know it might be valuable. Above all, it means making our products work better so that people can spend time on the stuff they’re good at — like enjoying time with family, camping in the wilderness, or painting a picture. </p>
                    </span>
                </li>
                <li>
                    <span>
                        <img class='four columns' src='i/microsoft/MSFT_logo_Web.jpg' />
                    </span>
                    <span>
                        <p>At <a class='blue' href='http://careers.microsoft.com/'>Microsoft</a>, we're motivated and inspired every day by how our customers use our software to find creative solutions to business problems, develop breakthrough ideas, and stay connected to what's most important to them. We are committed long-term to the mission of helping our customers realize their full potential. Just as we constantly update and improve our products, we want to continually evolve our company to be in the best position to accelerate new technologies as they emerge and to better serve our customers.</p>
                    </span>
                </li>
                <li>
                    <span>
                        <img class='four columns' src='i/intuit/intuit_c_r.png' />
                    </span>
                    <span>
                        <p>As we begin our second quarter century, <a class='blue' href='http://careers.intuit.com'/>Intuit</a>'s array of flagship brands is expanding to reflect the growing number of ways we help people solve their important problems. Whether helping balance a checkbook, run a small business, or pay income taxes, our innovative solutions have simplified millions of people's lives. In a world where emerging technology and market trends are changing the way people live and work, we'll continue to develop new products that offer the same ease and delight that are a hallmark of Intuit's pursuit of customer-driven innovation.</p>
                    </span>
                </li>
                <li>
                    <span>
                        <img class='four columns' src='i/nextdoor/nextdoor.png' />
                    </span>
                    <span>
                        <p><a class='blue' href='https://nextdoor.com/jobs/'>Nextdoor</a> is the private social network for you, your neighbors and your community. It's the easiest way for you and your neighbors to talk online and make all of your lives better in the real world. And it's free. Thousands of neighborhoods are already using Nextdoor to build happier, safer places to call home. Nextdoor's mission is to bring back a sense of community to the neighborhood, one of the most important communities in each of our lives.</p>
                    </span>
                </li>

                <!-- Silver Sponsors -->
                <h4>Silver Sponsors</h4>
                <li>
                    <span>
                        <img class='three columns' src='i/yelp/Yelp_Logo_Color_Background.png' />
                    </span>
                    <span>
                        <p><a class='blue' href='http://www.yelp.com/careers'>Yelp</a> has been changing the nature of how people share local knowledge and find out about what's going on in their city and beyond since 2004. We're one part community, one part local city guide, with an opinion on everything from mechanics and martini bars to dentists and dining, and everything in between. Doesn't that sound like something you'd want to be involved in? We have a scrappy team of software engineers here at Yelp and we need more! We are hiring students pursuing a Bachelor's, Master's or Doctorate degree.</p>
                    </span>
                </li>
                <li>
                    <span>
                        <img class='three columns' src='i/atlassian/logoAtlassianPNG.png' />
                    </span>
                    <span>
                        <p><a class='blue' href='https://www.atlassian.com/company/careers'>Atlassian</a> is an award-winning enterprise software company that helps innovators everywhere plan, build, and launch great software. Atlassian's portfolio of products includes JIRA, the industry-leading project and issue tracking software; Confluence, its content collaboration product; and a broad range of popular developer tools.</p>
                    </span>
                </li>
                <li>
                    <span>
                        <img class='three columns' src='i/svp/svp.png' />
                    </span>
                    <span>
                        <p>Companies like Google, Apple, and eBay are as much about entrepreneurship as they are about technology, and individuals with a liberal arts education help to drive innovative cultures in this global hotspot. The mission of the <a class='blue' href='http://www.cmc.edu/svp/'>Silicon Valley Program</a> is to provide the students of the Claremont Colleges with an off-campus study alternative that marries the liberal arts to challenges facing technology firms in Silicon Valley. Students on the program will explore theoretical organizational structures and will apply classroom lessons to the daily tasks associated with an internship in technology.</p>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
